login-server-port	= 4000
external-address	= YOUR_IP_HERE
game-server-port    = 3008
mysql-address		= 127.0.0.1
mysql-user			= YOUR_MYSQL_USER
mysql-password		= YOUR_MYSQL_PASSWORD

mysql-server-port	= 3306
mysql-database		= helbreath

permitted-address	= YOUR_IP_HERE
permitted-address	= 127.0.0.1
